.wrapper {
background-color: rgb(0,0,0);
}
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(teal, black, teal);
  width: 100%;
  margin-top:0px;
  min-height: 50px;
}
.flex-item {
min-height: 100%;
}
a {
  color: teal;
  font-family: monospace;
  font-size: 14px;
  text-decoration: none;
}
.grid-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(20px, auto);
grid-gap: 3px;
position: static;
}
.grid-item {
display: flex;
justify-content: center;
align-items: center;
color: white;
}
.grid-item-1 {
max-height: 30px;
}
.grid-item-2 {
max-height: 30px;
}
.grid-item-3 {
max-height: 30px;
}
.grid-item-4 {

}
.grid-item-5 {

}
.grid-item-6 {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
}
.circle {
  border-radius: 50%;
}
.logo {
padding: 5px;
}
q {
font-size: 20px;
font-style: italic;
color: rgb(200,200,200);
}
#emptyspace {
  height:100px;
  width: 100%;
}
