.wrapper {
  background-color: rgb(0,0,0);
}
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(teal, black, teal);
  width: 100%;
  position: fixed;
  top: 0;
  min-height: 50px;
}
.flex-item {
  min-height: 100%;
}
a {
  color: teal;
  font-family: monospace;
  font-size: 14px;
  text-decoration: none;
}
a:hover {
  font-size: 120%;
}
.link:hover {
  transform:scale(1.8);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(20px, auto);
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 15px;
}
.grid-item-1 {
  max-height: 30px;
}
.grid-item-2 {
  max-height: 30px;
}
.grid-item-3 {
  max-height: 30px;
}
.grid-item-6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.circle {
  border-radius: 50%;
}
.logo {
  padding-top: 30px;
}
q {
  font-size: 20px;
  color: rgb(175,175,175);
  font-family:monospace;
  text-align: center;
  padding: 10px;
}
.emptyspace {
  height:100px;
  width: 100%;
}
label {
  color:white;
  font-family:monospace;
}
fieldset {
  width: 40%;
  margin: 0 auto;
}
textarea {
  width: 100%;
  min-height: 100px;
}
footer {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: monospace;
  margin:0;
}
.navbar {
    z-index: 1;
}
